# pytest
.pytest_cache
.coverage
pytestdebug.log
__pycache__/

# conda environment
turbopy.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Sphinx
_build/

# VS Code
.vscode/

# tmp directory for test output, etc
tmp/
.idea
build
dist
