language: python
python:
    - 3.9
install:
    - sudo apt update
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - source "$HOME/miniconda/etc/profile.d/conda.sh"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    # Useful for debugging any issues with conda
    - conda info -a
    - conda env create -f environment.yml
    - conda activate turbopy
    # Install turbopy into this environment
    - pip install -e .
    #- pip install pylint-exit
    - pip install anybadge
    #- pip install docstr-coverage

script:
    - pytest --cov-report=xml --cov=turbopy tests/

after_success:
    - bash <(curl -s https://codecov.io/bash)
